SUBSYSTEMS=="usb", ATTRS{idProduct}=="9420", ATTRS{idVendor}=="05a3", GOTO="elp_camera"
SUBSYSTEM=="video4linux", ATTRS{index}=="0", SYMLINK+="elp-mjpeg", LABEL="elp_camera"
SUBSYSTEM=="video4linux", ATTRS{index}=="1", SYMLINK+="elp-h264", LABEL="elp_camera"